version: 2
updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: monthly
    open-pull-requests-limit: 1
    groups:
      all-dependencies:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    open-pull-requests-limit: 1
    groups:
      all-dependencies:
        patterns:
          - "*"
