@layer global {
  :root {
    --mainBlack: #272727;
    --blue1: #0fe1fa;
    --blue2: #2793a0;
    --blue3: #0b7380;
    --blue4: #3c6baa;
    --white: #fff;
    --light: #dad8d8;
    --grey: #719da0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    background: var(--white);
    color: var(--mainBlack);
    line-height: 1.5;
    font-size: 0.95rem;
  }
  a {
    text-decoration: none;
  }
  button {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
  }
  img {
    width: 100%;
    display: block;
  }

  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 0.25rem;
    text-transform: none;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
  }
  ul {
    list-style: none;
  }
  @media (min-width: 800px) {
    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    h3 {
      font-size: 2.1rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    body {
      font-size: 1.2rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }

  .main-content {
    min-height: 100vh;
    position: relative;
  }
}
