<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/_data/images/ico.png" />
    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/navbar.css" />
    {% block title %}
    <title>Rafał Safin | Home Page</title>
    <meta name="description" content="Rafał Safin portfolio home page" />
    {% endblock %}
  </head>
  <body>
    {% include 'components/navbar.html' %} {% block content %} {% endblock %} {%
    include 'components/footer.html' %}
  </body>
</html>
