<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="/_data/images/ico.png" />
  <link rel="stylesheet" href="/global.css?t={{ build_timestamp }}" />
  {% block title %}
  <title>Rafał Safin | Home Page</title>
  <meta name="description" content="Rafał Safin portfolio home page" />
  {% endblock %}
  <!-- Privacy-friendly analytics by Plausible -->
  <script async src="https://analytics.rafsaf.pl/js/pa-PuPv02afN9M13G59cPfjc.js"></script>
  <script>
    window.plausible = window.plausible || function () { (plausible.q = plausible.q || []).push(arguments) }, plausible.init = plausible.init || function (i) { plausible.o = i || {} };
    plausible.init()
  </script>
</head>

<body>
  {% include 'components/navbar.html' %}
  <div class="main-content">
    {% block content %}
    {% endblock %}
  </div>
  {% include 'components/footer.html' %}
</body>

</html>