<nav id="navbar" class="nav">
  <div class="nav-center">
    <div class="nav-logo">
      <a href="/">
        <img src="/_data/images/rafsaf4.svg" height="45px" width="200px" alt="logo" />
      </a>

      <button id="hamburger-menu" aria-label="hamburger menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
        </svg>
      </button>
    </div>
    <div id="navbar-phone-links" class="nav-phone-links">
      <ul>
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/projects/">Projects</a></li>
        <li><a class="nav-link" href="/services/">Services</a></li>
      </ul>
    </div>
    <div class="nav-desktop-links">
      <ul>
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/projects/">Projects</a></li>
        <li><a class="nav-link" href="/services/">Services</a></li>
      </ul>
    </div>
    <div class="nav-desktop-icons"></div>
  </div>
</nav>

<script>
  const nav = document.getElementById("navbar");
  const menu = document.getElementById("hamburger-menu");
  const phoneLinks = document.getElementById("navbar-phone-links");

  menu.addEventListener(
    "click",
    (e) => {
      if (menu.opened !== true) {
        menu.opened = true;
        nav.style.setProperty("--menu-display", "block");
        return;
      }
      menu.opened = false;
      nav.style.setProperty("--menu-display", "none");
    },
    false
  );

  const links = document.getElementsByClassName("nav-link");
  for (link of links) {
    const url = new URL(link.href);
    if (url.pathname === window.location.pathname) {
      link.style.setProperty("color", "var(--primaryColor)");
    }
  }
</script>