<nav id="navbar" class="nav">
  <div class="nav-center">
    <div class="nav-logo">
      <a class="nav-logo-brand" href="/">rafsaf.pl</a>

      <button class="nav-logo-hamburger-btn" id="hamburger-menu" aria-label="hamburger menu">
        <svg class="nav-logo-hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
        </svg>
      </button>
    </div>
    <div id="navbar-phone-links" class="nav-phone-links">
      <ul>
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/projects/">Projects</a></li>
        <li><a class="nav-link" href="/blog/">Blog</a></li>
        <li><a class="nav-link" href="/services/">Services</a></li>
      </ul>
    </div>
    <div class="nav-desktop-links">
      <ul>
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/projects/">Projects</a></li>
        <li><a class="nav-link" href="/blog/">Blog</a></li>
        <li><a class="nav-link" href="/services/">Services</a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const nav = document.getElementById("navbar");
  const menu = document.getElementById("hamburger-menu");

  menu.addEventListener(
    "click",
    () => {
      if (menu.opened !== true) {
        menu.opened = true;
        nav.style.setProperty("--menu-display", "block");
        return;
      }
      menu.opened = false;
      nav.style.setProperty("--menu-display", "none");
    },
    false
  );

  const links = document.getElementsByClassName("nav-link");
  const currentPath = window.location.pathname;

  for (const link of links) {
    const urlPath = new URL(link.href).pathname;
    const isExact = urlPath === currentPath;
    const isSectionMatch = urlPath !== "/" && currentPath.startsWith(urlPath);

    if (isExact || isSectionMatch) {
      link.style.setProperty("color", "var(--blue1)");
    }
  }
</script>