{% extends "components/layout.html" %}
{% block title %}
<title>Rafał Safin | Blog</title>
<meta name="description" content="Rafał Safin blog and notes" />
<link rel="stylesheet" href="/projects/projects.css?t={{ build_timestamp }}" />
{% endblock %}
{% block content %}
<div class="projects-others">
    <h1>Blog</h1>
    <div class="projects-others-text">
        (2026.01.14)
        <a href="/blog/2026/01/14/proxmox-private-sdn-evpn-network-between-two-clusters">Proxmox private SDN EVPN
            network between two cluster</a> — Story of
        setuping network between two distinct Proxmox clusters in different locations based on wireguard and SDN EVPN
        zone.
    </div>
</div>
{% endblock %}