{% extends "components/layout.html" %}
{% block title %}
<title>Rafał Safin | Blog</title>
<meta name="description" content="Rafał Safin blog and notes" />
<link rel="stylesheet" href="/projects/projects.css?t={{ build_timestamp }}" />
{% endblock %}
{% block content %}
<div class="projects-others">
    <h1>Blog</h1>
    <div class="projects-others-text">
        (2026.02.07)
        <a href="/blog/2026/02/07/update-of-minimal-fastapi-postgres-template-to-version-7.0.0">Update of
            minimal-fastapi-postgres-template to version 7.0.0</a> — Describe the breaking changes and the rationale for
        this year's update.
    </div>
    <div class="projects-others-text">
        (2026.01.15)
        <a href="/blog/2026/01/15/proxmox-private-sdn-network-between-two-clusters">Proxmox private SDN network between
            two cluster</a> — Story of
        setuping network between two distinct Proxmox clusters in different locations based on wireguard and SDN EVPN
        zone.
    </div>
</div>
{% endblock %}