:root {
  --primaryColor: #0fe1fa;
  --primaryColor2: #2793a0;
  --primaryColor3: #0b7380;
  --mainWhite: #fff;
  --light: rgb(218, 216, 216);
  --blue: rgb(60, 107, 170);
  --mainBlack: #272727;
  --orange: #d74c2f;
  --mainGrey: #719da0;
}
