.footer {
  background: var(--mainBlack);
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
  text-align: center;
  letter-spacing: 0.3rem;
}

.footer-icon {
  fill: var(--mainWhite);
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  color: var(--mainWhite);
}

.footer-source {
  color: var(--mainWhite);
  text-decoration: underline;
}

.footer.div.h3 {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  font-weight: 400;

  text-transform: none;
}

.footer.div.div {
  width: 95vw;
}

@media (max-width: 578px) {
  .footer.div.h3 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .footer.div.div {
    width: 85vw;
  }
}
