@layer global {
  :root {
    --mainBlack: #272727;
    --blue1: #0fe1fa;
    --blue2: #2793a0;
    --blue3: #0b7380;
    --blue4: #3c6baa;
    --white: #fff;
    --light: #dad8d8;
    --grey: #719da0;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    background: var(--white);
    color: var(--mainBlack);
    line-height: 1.5;
    font-size: 0.95rem;
  }
  a {
    text-decoration: none;
  }
  button {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
  }
  img {
    width: 100%;
    display: block;
  }

  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 0.25rem;
    text-transform: none;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
  }
  ul {
    list-style: none;
  }
  @media (min-width: 800px) {
    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    h3 {
      font-size: 2.1rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    body {
      font-size: 1.2rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }

/* layout component */

.main-content {
    min-height: 100vh;
    position: relative;
  }
}

/* navbar component */

@property --phone-display {
  syntax: "block | none";
  inherits: true;
  initial-value: block;
}
@property --desktop-display {
  syntax: "block | none";
  inherits: true;
  initial-value: block;
}
@property --menu-display {
  syntax: "block | none";
  inherits: true;
  initial-value: block;
}

.nav {
  --desktop-display: none;
  --phone-display: block;
  --menu-display: none;
  position: fixed;
  z-index: 200;
  background: var(--mainBlack);
  color: var(--white);
  width: 100%;
  border-bottom: 2px solid var(--blue3);
}

.nav-link {
  display: block;
  color: var(--white);
}
.nav-link:hover {
  color: var(--blue1);
}

.nav-center {
  max-width: 1300px;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo-hamburger-btn {
  display: var(--phone-display);
  cursor: pointer;
}
.nav-logo-hamburger {
  fill: var(--light);
  height: 2rem;
  width: 2rem;
}
.nav-logo-rafsaf-link {
  display: flex;
}
.nav-logo-rafsaf {
  height: 2.5rem;
}

.nav-phone-links {
  display: var(--menu-display);
}
.nav-phone-links > ul {
  padding: 1rem 0rem;
}
.nav-phone-links > ul > li {
  font-size: 1.2rem;
  border-bottom: 1px solid var(--light);
  padding-bottom: 0.7rem;
  margin: 1.2rem 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 500;
}

.nav-desktop-links {
  display: var(--desktop-display);
}
.nav-desktop-links > ul {
  display: flex;
}
.nav-desktop-links > ul > li {
  padding: 0 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 300;
}

.nav-desktop-icons {
  display: var(--desktop-display);
}

@media (min-width: 992px) {
  .nav {
    padding: 0 1.5rem;
    --desktop-display: display;
    --phone-display: none;
  }
  .nav-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .nav-desktop-links {
    display: block;
  }
  .nav-phone-links {
    display: none;
  }
  .nav-logo-hamburger-btn {
    display: none;
  }
  .nav-desktop-icons {
    display: block;
  }
}


/* footer component */

.footer {
  background: var(--mainBlack);
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.3rem;
}

.footer-icon {
  fill: var(--white);
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  margin-bottom: 1.5rem;
  color: var(--white);
}

.footer-source {
  color: var(--white);
  text-decoration: underline;
}

.footer.div.h3 {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  font-weight: 400;

  text-transform: none;
}

.footer.div.div {
  width: 95vw;
}

@media (max-width: 578px) {
  .footer.div.h3 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .footer.div.div {
    width: 85vw;
  }
}

