name: Run tests

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "*.*"

jobs:
  tests-check-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.2"
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev
        shell: bash

      - name: Build
        run: |
          uv run python template.py
          touch out/.nojekyll
          echo "rafsaf.pl" > out/CNAME

      - name: Check
        run: |
          if [ ! -f "./out/index.html" ]; then
              echo "./out/index.html does not exist."
              exit 1
          fi
          if [ ! -f "./out/services/index.html" ]; then
              echo "./out/services/index.html does not exist."
              exit 1
          fi
          if [ ! -f "./out/projects/index.html" ]; then
              echo "./out/projects/index.html does not exist."
              exit 1
          fi
          if [ ! -d "./out/_data" ]; then
              echo "./out/_data does not exist."
              exit 1
          fi
